* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
}

header .navbar li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.contenedor {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor .textoBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.contenedor .textoBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.contenedor .textoBox p {
    color: #fff;
}

.contenedor .textoBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e51e2a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.redes {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes li {
    list-style: none;
}

.redes li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

.redes li a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}

.redes li a img {
    filter: invert(1);
    transform: scale(0.5);
}


/* 
SLIDER
*/

.slider {
    width: 50%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 400px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.contenedor .slider {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.contenedor .slider img {
    max-width: 150px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}


/********** RESPONSIVE **************/

@media (max-width: 991px) {
    header {
        padding: 40px;
    }
    section {
        padding: 150px 40px;
    }
    .redes {
        left: 40px;
    }
    .contenedor {
        flex-direction: column;
    }
    .contenedor .textoBox,
    .contenedor .slider {
        max-width: 100%;
    }
    .swiper-slide {
        height: 300px;
    }
}

@media (max-width: 610px) {
    header .navbar {
        display: none;
    }
    header .navbar.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e51e2a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navbar li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background-image: url(/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }
    .toggle.active {
        position: fixed;
        right: 40px;
        background-image: url(/img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .slider {
        width: 90%;
    }
}

@media (max-width: 515px) {
    .swiper-slide {
        height: 220px;
    }
}

@media (max-width: 465px) {
    .redes {
        left: auto;
        bottom: 20px;
    }
}